In [10]:
print("This line will be printed.")

This line will be printed.

In [4]:
print(1)

1

In [5]:
x = 1
if x == 2:
    # indented four spaces
    print("x is 1.")

In [6]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [11]:
my_val = int(input("Enter a number:"))

In [12]:
type(my_val)

int

In [13]:
print(my_val)

56

In [14]:
student_marks = 25
print(student_marks)
print("student_marks")

25
studeent_marks

In [15]:
myint = 7
print(myint)
print(type(myint))

7
<class 'int'>

In [16]:
x = int(5.0)
print(x)

5

In [17]:
myfloat = 7.5
print(type(myfloat))
print(myfloat)

<class 'float'>
7.5

In [18]:
myfloat = float(5)
print(myfloat)

5.0

In [19]:
myvar = '7'
print(myvar)
print(myvar)

7
7

In [20]:
y = int(myvar)
type(y)

int

In [21]:
a = 4
b = 2
c = a/b
int(c)

2

In [22]:
my_value = 5
print(my_value)

5

In [23]:
NUM = 5
NUM

5

In [24]:
mystring = 'hello'
print(mystring)

hello

In [2]:
mystring = 'hello'
mystring

'hello'

In [1]:
mystring = "Don't worry about apostrophes!"
print(mystring)

Don't worry about apostrophes!

In [1]:
one = 1
two = 2
three = one + two
print(three)

3

In [3]:
a = "hello"
b = "world"
c = a + b 
print(c)

helloworld

In [4]:
a, b, c = 3, 4, 5
print(a,b)
print(c)

3 4
5

In [1]:
one = 1
two = 2
hello = "hello"
print(one+two+three)

NameError: name 'three' is not defined

In [2]:
# change this code
mystring = "hello"
myfloat = 10.0
myint = 10
# testing code
if mystring == "hello" :
    print ( "String: %s" % mystring )
if isinstance ( myfloat , float ) and myfloat == 10.0 :
    print ( "Float: %f" % myfloat )
if isinstance ( myint , int ) and myint == 20 :
    print ( "Integer: %d" % myint )

String: hello
Float: 10.000000

In [ ]:
mylist = [ 1 , 3 , 4 , 6 , 7 , 9 , "hi" , "hello" ]
print ( mylist )

[1, 3, 4, 6, 7, 9, 'hi', 'hello']

In [8]:
print ( mylist [ 0 ])
print ( mylist [ 1 ])
print ( mylist [ 2 ])
print ( mylist [ 3 ])
print ( mylist [ 4 ])
print ( mylist [ 5 ])

1
3
4
6
7
9

In [9]:
value = mylist[1]
print(value)

3

In [10]:
new_list = [21,33,45,75,91,99]
print(new_list)

[21, 33, 45, 75, 91, 99]

In [11]:
new_list.append(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 101]

In [12]:
new_list.insert(1,107)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101]

In [13]:
new_list.extend([200,201,202])
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201, 202]

In [15]:
removed_value = new_list.pop()
print(new_list)
print(removed_value)

[21, 107, 33, 45, 75, 91, 99, 101, 200]
201

In [16]:
new_list.pop(1)
print(new_list)

[21, 33, 45, 75, 91, 99, 101, 200]

In [17]:
new_list.remove(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 200]

In [18]:
del mylist[1]
print(mylist)

[1, 4, 6, 7, 9, 'hi', 'hello']

In [19]:
new_list = [21,33,45,75,91,99]

In [20]:
new_list[2]

45

In [21]:
new_list[-1]

99

In [22]:
new_list[:3]

[21, 33, 45]

In [23]:
new_list[1:]

[33, 45, 75, 91, 99]

In [24]:
new_list[2:4]

[45, 75]

In [25]:
new_list[1:5:2]

[33, 75]

In [26]:
new_list[-3]

75

In [27]:
new_list[::-1]

[99, 91, 75, 45, 33, 21]

In [28]:
numbers = [1,2,3]
strings = ["hello", "world"]
names = ["John" , "Eric" , "Jessica" ]
# write your code here
second_name = None
# this code should write out the filled arrays and the second name in the names list (Eric).
print ( numbers )
print ( strings )
print ( "The second name on the names list is %s" % second_name )

[1, 2, 3]
['hello', 'world']
The second name on the names list is None

In [ ]:
frist = input("enter the name")
second = input("enter the roll_number")
list["name" , "roll_number"]
print(list)

In [1]:
number = ( 1 + 2 ) * 3 / 4.0 - 2
print ( number )

0.25

In [2]:
remainder = 11 % 3
print ( remainder )

2

In [3]:
x = 11 // 4
x

2

In [4]:
squared = 7 ** 2
cubed = 2 ** 3
print ( squared )
print ( cubed )

49
8

In [5]:
x = "hello" + "world"
print ( x )

helloworld

In [6]:
lotsofhellos = "hello" * 10
print ( lotsofhellos )

hellohellohellohellohellohellohellohellohellohello

In [7]:
even_numbers = [ 2 , 4 , 6 , 8 ]
odd_numbers = [ 1 , 3 , 5 , 7 ]
all_numbers = odd_numbers + even_numbers
print ( all_numbers )

[1, 3, 5, 7, 2, 4, 6, 8]

In [8]:
x = 7
y = 5
# TODO: change this code
x_list = [x]*10
y_list = [y]*10
big_list = [x_list + y_list]
print ( "x_list contains %d objects" % len ( x_list ))
print ( "y_list contains %d objects" % len ( y_list ))
print ( "big_list contains %d objects" % len ( big_list ))
# testing code
if x_list . count ( x ) == 10 and y_list . count ( y ) == 10 :
    print ( "Almost there..." )
if big_list . count ( x ) == 10 and big_list . count ( y ) == 10 :
    print ( "Great!" )

x_list contains 10 objects
y_list contains 10 objects
big_list contains 1 objects
Almost there...

In [ ]:

name = "John"
print ( "Hello, %s!" % name )

Hello, John!

In [ ]:
score =7.8886564567
name=input("Enter your name:")
print("Hello,%s! Welcome to TBC! You scored %.3f" %(name,score))

Hello,gautam! Welcome to TBC! You scored 7.889

In [2]:
name = "John"
age = 23
print("%s is %d years old." %(name,age))

John is 23 years old.

In [3]:
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [4]:
name = "Daniel"
college = "The British college"
classstime = 1100
print("Hello%s. Welcome t0 %s. The class starts at %d hrs." %(name,college,classstime))
print("Hello{}. Welcome to{}. The class starts at{} hrs." .format(name,college,classstime))
print(f"hello{name}. Welcome to{college}. The class starts at {classstime} hrs.")

HelloDaniel. Welcome t0 The British college. The class starts at 1100 hrs.
HelloDaniel. Welcome toThe British college. The class starts at1100 hrs.
helloDaniel. Welcome toThe British college. The class starts at 1100 hrs.

In [5]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%.2f."%data
print(format_string)

Hello John Doe. Your current balance is $53.44.

In [6]:
data = ("John", "Doe", 53.44)
format_string = f"Hello{data[0]} {data[1]}. Your current balance is ${data[2]}."
print(format_string)

HelloJohn Doe. Your current balance is $53.44.

In [7]:
data = ("John", "Doe", 53.44)
format_string = "Hello {} {}. Your curret balance is ${}." .format(*data)
print(format_string)

Hello John Doe. Your curret balance is $53.44.

In [10]:
mystr = "This NAME!"
mystr.swapcase()

'tHIS name!'

In [11]:
astring = "Hello World!"
print(astring)
print(astring[3:7])

Hello World!
lo W

In [12]:
astring = "Hello World!"
print(astring[-3::2])

l!

In [13]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [14]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [18]:
astring = "Hello world!"
print(astring.startwith("Hello"))
print(astring.endwith("asdfasdfasdf"))

AttributeError: 'str' object has no attribute 'startwith'

In [17]:
astring = "Hello world"
afewwords = astring.split("")
print(afewwords)

ValueError: empty separator